<?xml version="1.0"?>
<launch>
  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find f1tenth_simulator)/maps/levine.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/> -->

  <!-- Begin the map visualization node that contains particles and estimated trajectory -->
  <node pkg="rviz" type="rviz" name="rviz_map" args="-d $(find mcl_pi_gazebo)/rviz/map.rviz" output="screen"/>

  <!-- Begin the mcl localization node -->
  <node name="mcl" pkg="mcl_pi_gazebo" type="MCL.py" output="screen"/>
</launch>
