<?xml version="1.0"?>
<launch>

  <include file="$(find mcl_pi_gazebo)/launch/my_map.launch" />
  <include file="$(find mcl_pi_gazebo)/launch/map_server.launch"/>
  
  <include file="$(find mcl_pi_gazebo)/launch/rviz_visualisation_mcl.launch"/>

<!--#############################################################-->


</launch>
